<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../controller/quiz.js"></script>
    <link rel="stylesheet" href="./../style/quiz.css">
    <title>Document</title>
</head>
<body>
    <h1>
        Quiz de Comunicações
    </h1>
    <div id="box"></div>
    <div class="buttons">
        <button onclick="resetPergunta()" class="buttonReiniciar">Reiniciar quiz!</button>
        <button id="next" onclick="nextPergunta()" class="buttonNext">Proxima questão</button>
    </div>
    <script>
        var acerto = 0
        var perguntaIndex = 0
        var isRespodido = false

        addPergunta()
        function addPergunta() {
            isRespodido = false
            html = setaPerguntaQuiz(perguntaIndex)
            document.getElementById("box").innerHTML = html
        }

        function isCorreto(id){
            console.log(id)
            var botao = document.getElementById(id)
            if (isRespodido){
                alert("Você já respondeu esta questão!")
                return
            }

            isRespodido = true
            perguntaIndex ++
            console.log(botao.innerText.split(") ")[1])
            console.log(gabarito.indexOf(botao.innerText.split(") ")[1]))
            if (gabarito.indexOf(botao.innerText.split(") ")[1]) != -1){
                botao.style.backgroundColor = "Green"
                acerto ++
            }else {
                botao.style.backgroundColor = "Red"
            }
        }

        function nextPergunta() {
            var botao = document.getElementById("next")
            if (botao.innerText == "Finalizar"){
                alert(`Você acertou ${acerto} questões`)
                return
            }

            if (isRespodido){
                addPergunta()
                
                if (perguntaIndex == 9){
                    botao.innerText = "Finalizar"
                }

            } else {
                alert("Você ainda não respondeu!")
            }
        }

        function resetPergunta(){
            acerto = 0
            perguntaIndex = 0
            isRespodido = false
            var botao = document.getElementById("next")
            botao.innerText = "Proxima questão"

            addPergunta();

        }
    </script>
</body>
</html>