body {
    background-color: #dfffcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: #b9dea7;
    width: 1200px;
    margin: auto;
    margin-top: 10vh;
    font-size: 18px;
    border-radius: 5px;
}

.buttonNew {
    background-color: white;
    font-size: medium;
    font-weight: bold;
}

button {
    font-size: large;
    font-weight: bold;
}